/* ROOT VARIABLES */

:root {
  --container-width-phone: 85%;
  --primary-color: #6070ff;
  --secondary-color: #172b4d;
}

/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e5e5e5;
}

.container {
  width: var(--container-width-phone);
  margin: 0 auto;
}

/* HEADER */
header {
  background: #fff;
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem;
}

header a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: var(--primary-color);
}

header i {
  color: var(--primary-color);
  font-size: 1.5rem;
}

/* MAIN */

.header-bg {
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  height: 40rem;
  position: absolute;
}

main .about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-top: 7rem;
  gap: 0.75rem;
}

main .about h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--secondary-color);
  line-height: 3.25rem;
}

main .about p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--secondary-color);
  line-height: 1.5rem;
}

main .about h3 {
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 500;
  color: #7f8cff;
}

main .about ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  gap: 1rem;
}

main .about i {
  font-size: 1.7rem;
  color: #505f79;
}
